.collapseTop {
  display: flex;
  background-color: #de0a26;
  color:white;
  width: 80vw;
  border: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  flex-direction: row;
  justify-content: space-between;
}
.collapseTop h2 {
  margin: 0px;
}
.collapseTop button{
  background-color: rgba(255, 255, 255, 0.447);
  border-radius: 5px;
  border: none;
  font-size: calc(10px + 2vmin);
}

.dropdown p {
  margin: 0px;
}

.dropdown {
  /* border: solid;
  border-width: 1px;
  border-color: black; */
  animation: scale-up-ver-top 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
/* Animation for dropdown */
@keyframes scale-up-ver-top {
  0% {
    transform: scaleY(0.4);
    transform-origin: 100% 0%;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }
}
